clear::after{
	content: "";
	display: block;
	clear: both;
}
body{
	background: url(../img/1.gif) fixed no-repeat;
	background-size:100% ;
	min-height: 800px;
	overflow: scroll;
	overflow-y: hidden;
	position: relative;
}
body #logo{
	position: absolute;
	top: 42px;
	left:110px;
	width: 130px;
	height: 130px;
	cursor: pointer;
	transition: all 0.5s;
}
body h2{
	text-align: center;
	color: white;
}
#conList{
	position: relative;
}
#con1{
	color: white;
	position: absolute;
	left:220px;
	top: 135px;
	cursor: pointer;

}
#con2 #lb{
	position: absolute;
	right: 80px;
	top: 120px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	border: 1px solid cornflowerblue;
    box-shadow: 0px 0px 2px 2px white;
	
}
#con2 #lb li{
	opacity: .8;
	color: cornflowerblue;
	float: right;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	transition: all .5s;
	border: 2px solid white;
	margin: 0 10px;
	transition: all .5s;
	background: navajowhite;
}
#con2 #lb li:hover{
	color: black;
	background: cornflowerblue;
	transform: scale(1.1);
	opacity: 0.9;
	box-shadow: 1px 1px 1px powderblue;
}
